@font-face {
	font-family: Njord;
	src: url("https://github.com/EtoileLion/Project-DataSlave/blob/master/fonts/Njord.otf?raw=true");
}

@font-face {
	font-family: AmpCB;
	src: url("https://github.com/EtoileLion/Project-DataSlave/blob/master/fonts/AmpCB.otf?raw=true");
}

textarea {
	width: 95%;
}

.sheet-page {
	display: none;
}
.sheet-rolltemplate-shadowsum,
.sheet-rolltemplate-shadowtest,
.sheet-bg {
	background: url("https://www.github.com/EtoileLion/Project-Dataslave/blob/master/images/sheetback.png?raw=true");
}
/* Page Toggler */
.sheet-sheetpage[value="1"] ~ .sheet-page1,
.sheet-sheetpage[value="2"] ~ .sheet-page2,
.sheet-sheetpage[value="3"] ~ .sheet-page3,
.sheet-sheetpage[value="4"] ~ .sheet-page4
{
	display: inline;
}

.sheet-pfcontainer {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sheet-pfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.sheet-pfradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #eee;
	border-radius: 25%;
	font-family: AmpCB;	
	text-align: center;
}
.sheet-pfcontainer:hover input ~ .sheet-pfradio {
    background-color: #ccc;
}
.sheet-pfcontainer input:checked ~ .sheet-pfradio:after {
	display: block;
}
.sheet-sheetpage[value="3"] ~ .sheet-page3 .sheet-pagetogglediv .sheet-pfcontainer input[value="3"] ~ .sheet-pfradio,
.sheet-sheetpage[value="1"] ~ .sheet-page1 .sheet-pagetogglediv .sheet-pfcontainer input[value="1"] ~ .sheet-pfradio,
.sheet-sheetpage[value="2"] ~ .sheet-page2 .sheet-pagetogglediv .sheet-pfcontainer input[value="2"] ~ .sheet-pfradio {
	background-color: #800d6d;
	color: #aaa;
}
.sheet-pagetogglediv {
	position: relative;
	left: 10px;
	top:-50px;	
}

.sheet-header input {
	text-align: right;
	border: none;
	font-family: Njord;
	font-size: 49px;
	width: 100%;
}

.sheet-headertext p {
	color: #800d6d;
	font-family: Njord;
	font-size: x-large;
	text-transform: capitalize;
}
.sheet-spectable td:nth-child(1),
.sheet-tablehead,
th,
.sheet-page label {
	font-size: 1em;
	font-family: AmpCB;
	margin-bottom: unset;
	width: auto;
}
.sheet-dmgtrackheader {
	font-size: 1.3em;
	font-family: AmpCB;
	margin-bottom: unset;
	width: 100%;
	text-align: center;
}

.sheet-il,
.sheet-ghostlabel {
	display: inline;
}

.sheet-flexcontainer {
	display: flex;
}
.sheet-flex {
	flex: 1;
}
.sheet-flex2 {
	flex: 2;
}
.sheet-fullwidth {
	width: 100%;
}
.sheet-flexcontainer input[type='text'] {
	width: 0;
}
select,
.sheet-inlinelabel {
	width: auto;
}
.sheet-section {
	border-top: 2px solid #800d6d;
	border-bottom: 2px solid #800d6d;	
	padding-bottom: 7px;
	padding-top: 5px;
	margin-bottom: 20px;
}
.sheet-col:nth-child(1) .sheet-section {
	border-right: 2px solid #800d6d;
	border-radius: 0 5px 5px 0;
	padding-right: 2px;
}
.sheet-col:nth-child(2) .sheet-section {
	border-left: 2px solid #800d6d;	
	border-radius: 5px 0 0 5px;
	padding-left: 2px;
}
.sheet-matrix label,
.sheet-vehicle label:not([for="attr_vehnotes"]),
.sheet-attributes label {
	text-align: right;
}
.sheet-attributes td:nth-child(3) {
	margin-left: 6px
}
.sheet-attributes td:nth-child(even) {
	padding-left: 6px;
}
.sheet-dmtrackcell {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 4px;
}
.sheet-phydamagemarker,
.sheet-stundamagemarker {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sheet-mini {
	font-size: xx-small;
	color: #999;
}
.sheet-numtag {
	width: 3.5em;
}
.sheet-skillhead {
	font-family: Njord !important;
}
.sheet-hideoutput {
	font-family: Njord;
	font-weight: bold;
}
.sheet-skill,.sheet-spec,.sheet-exp,
.sheet-hidestuff[value='on'] ~ .sheet-hideoutput,
.sheet-hideinput {
	display: none;
}
.sheet-skilltype[value="skill"] ~ .sheet-hideoutput .sheet-skill,
.sheet-skilltype[value="spec"] ~ .sheet-hideoutput .sheet-spec,
.sheet-skilltype[value="exp"] ~ .sheet-hideoutput .sheet-exp,
.sheet-hidestuff[value='on'] ~ .sheet-hideinput,
.sheet-hidestuff[value='on'] .sheet-hideinput {
	display: flex;
}
.sheet-right {
	float: right;
}




.sheet-overflowdamagemarker input,
.sheet-matrixdamagemarker input,
.sheet-phydamagemarker input,
.sheet-stundamagemarker input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
	height: 0;
	width: 0;
}
.sheet-stundamagemarker span,
.sheet-phydamagemarker span {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	background-color: #eee;
	border: 1px solid #800d6d;
	font-size: 28px;
	line-height: 55px;
	color: #666;
	text-align: center;
}
.sheet-overflowdamagemarker:hover input ~ span,
.sheet-matrixdamagemarker:hover input ~ span,
.sheet-phydamagemarker:hover input ~ span,
.sheet-stundamagemarker:hover input ~ span {
    background-color: #ccc;
}
.sheet-overflowdamagemarker input:checked ~ span,
.sheet-matrixdamagemarker input:checked ~ span,
.sheet-stundamagemarker input:checked ~ span,
.sheet-phydamagemarker input:checked ~ span {
	background-color: #844;
	color: #CCC;
}
.sheet-matrix .sheet-damagetrack {
	text-align: center;
}

.sheet-overflowtrack .sheet-dmtrackcell,
.sheet-matrix .sheet-dmtrackcell {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-bottom: 4px;
}

.sheet-overflowdamagemarker,
.sheet-matrixdamagemarker {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sheet-overflowdamagemarker span,
.sheet-matrixdamagemarker span {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #800d6d;
	font-size: 12px;
	line-height: 22px;
	color: #666;
	text-align: center;
}

.sheet-overflowdamagemarker span {
	border: 1px solid #E00000;
}
.sheet-hidespec2[value="0"] + div,
.sheet-hidespec[value="0"] ~ .sheet-hideoutput button,
.sheet-hidelevel[value="knowledge"] ~ p > .sheet-klevelspan,
.sheet-hidedamage[value="on"] + .sheet-dmtrackcell {
	display: none;
}


.sheet-hidespec[value="2"] ~ .sheet-hideoutput .sheet-spec,
.sheet-hidespec[value="3"] ~ .sheet-hideoutput .sheet-exp,
.sheet-hidestuff[value='on'] ~ .sheet-hideinput,
.sheet-hidestuff[value='on'] ~ .sheet-flexcontainer .sheet-hideinput {
	display: inline;
}

.sheet-taleft {
	text-align: left !important;
}
.sheet-rolltemplate-shadowsum table,
.sheet-rolltemplate-shadowtest table {
	border: 2px solid #800d6d;
    border-radius: 5px;	
	padding: 7px;
	font-family: AmpCB;
	text-align: center;
	width: 100%;
}
.sheet-rolltemplate-shadowtest table tr:nth-child(3) td span {
	display: none;
}
.sheet-rolltemplate-passedtest .sheet-rolltemplate-result-pass,
.sheet-rolltemplate-failedtest .sheet-rolltemplate-result-fail,
.sheet-rolltemplate-glitchedtest .sheet-rolltemplate-result-pass,
.sheet-rolltemplate-glitchedtest .sheet-rolltemplate-result-glitch,
.sheet-rolltemplate-critglitchedtest .sheet-rolltemplate-result-critglitch {
	display: block !important;
}
.sheet-rolltemplate-glitchedtest .sheet-critdie,
.sheet-rolltemplate-passedtest .sheet-critdie,
.sheet-rolltemplate-result-pass {
	color: #262;
}
.sheet-rolltemplate-glitchedtest .sheet-cfaildie,
.sheet-rolltemplate-critglitchedtest .sheet-cfaildie,
.sheet-rolltemplate-result-glitch,
.sheet-rolltemplate-result-critglitch {
	color: #922f2f;
}

.sheet-rolltemplate-byline {
	color: #800d6d;
    font-family: Njord;
    font-size: large;
    text-transform: capitalize;
}

.sheet-rolltemplate-shadowsum .sheet-rolltemplate-dieline span {
	background-color: transparent !important;
	border: none !important;
}
.sheet-page button[type='roll'] {
	background: transparent;
	border: none;
	font-size: 1em !important;
}
.sheet-skills button[type='roll'] {
	font-weight: bold;
}
.sheet-page button[type='roll']:before {
	content: none !important;
}
.sheet-page button[type='roll']:hover,
.sheet-page button[type='roll']:hover span,
.sheet-page button[type='roll']:hover label {
	color: #800d6d;
}
.sheet-skills span,
.sheet-skills button[type='roll'] {
	font-family: AmpCB;
}

.sheet-hideskillrank[value="0"] + .sheet-untrainedskill label {
	color: #800d6d;
}
.sheet-hideskillrank[value="0"] + div:not(.sheet-untrainedskill) label {
	color: #AAA;
}